*{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-wrap: wrap;
}
.col-3 {
    width: 30%;
}
.list_none {
    list-style: none;
}
.bg-dark {
    background-color: #00000091;
    color: #fff;
    padding: 10px;
    
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
#banner{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1701302400&semt=sph");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1c1b1b;
    text-align: center;
    flex-direction: column;
}
section {
    margin-top: 60px;
    margin-bottom: 60px;
}
td,th{
    border: 1px solid black;
    width: 60px;
    height: 60px;
}