.pokemon{
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    border-radius: 16px;
}
.poke-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
img{
    width: 150%;
    height: 100%;
}
.img_container{
    width: 50px;
}

  
  .popup-content{
    align-items:center ;

  }
  #popup {
    display: none;
    position: fixed;
    width: 100px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }